body {
	font-family: sans-serif;
	font-size: 13px;
}

header {
	padding: 6.5px;
}

header p {
	margin: 19.5px 0px;
	text-align: justify;
}

footer {
	clear: both;
	margin: 10px auto;
	font-size: 13px;
	text-align: center;
	border-top: 1px solid black;
}

ul {
	list-style: none;
}

li {
	display: inline;
}

#content {
	font-size: 150%;
	margin: 0 auto;
	width: 800px;
	min-width: 650px;
}

#content a {
	text-decoration: none;
	color: #0645AD;
}

.right {
	text-align: right;
}

.cell {
	display: inline;
	width: 200px;
	margin: 0 2%;
}

.row {
	display: block;
}